node_modules/
build/
k8s/
deploy/
.gitignore
Dockerfile
README.md
.dockerignore
cloudbuild.yaml
skaffold.yaml
**/.git
Dockerfile.dev
pull_request_template.md
sonar-project.properties
yarn-debug.log*
yarn-error.log*
.storybook/*
**/*.stories.tsx
**/*.test.tsx
mockData
mocks
.eslintignore
reportWebVitals.ts
react-app-env.d.ts
setupTests.ts
utils/tests/